:root {
    --cor-background: rgba(41, 39, 41, 0.8);
    --cor--fonte: rgba(23, 23, 23, 0.5);
    --cor--link: rgba(167, 154, 161, 0.8);
    --cor--fundo--card: rgb(255, 255, 255);
    --cor--btn--link: rgb(104, 84, 84);
}
@media screen and ( max-width: 380px ){
    body {
        margin: 0;
        padding: 0;
        font: var(--cor--fonte);
        background-color: var(--cor-background);
    }

    .form {
        width: 380px;
        height: 120px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .row select, input, button {
        height: 20;
        margin: 5px;
        text-align: center;
    }

    .card {
        display: flex;
        padding: 10px;
        margin-bottom: 10px;
        background-color: var(--cor--fundo--card);
        margin-left: 5px;
    }

    .card h3, strong, p, a {
        font-size: 10px;
        margin: 2px;
    }

    .card img {
        width: 100px;
        height: 100px;
    }

    .card a {
        text-decoration: none;
        color: var(--cor--fundo--card);
        padding: 5px;
        background-color: var(--cor--btn--link);
        border-radius: 5px;
    }

    .card a:visited {
        color: var(--cor--fundo--card);
    }

}

@media screen and ( min-width: 381px ){
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font: var(--cor--fonte);
        background-color: var(--cor-background);

    }

    .form {
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 720px;
        height: 60px;
        margin-bottom: 20px;
    }

    .row {
        display: flex;
        justify-content: space-evenly;
        width: 40%;
    }

    .table-cards {
        display: flex;
        flex-flow: wrap;
        width: 740px;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
        width: 200px;
        padding: 10px;
        background-color: var(--cor--fundo--card);
        border-radius: 5px;
    }

    .card img{
        width: 200px;
    }

}
