:root {
    --cor-background: rgba(41, 39, 41, 0.8);
    --cor--fonte: rgba(23, 23, 23, 0.5);
    --cor--link: rgba(167, 154, 161, 0.8);
    --cor--fundo--card: rgb(255, 255, 255);
}

@media screen and ( max-width: 380px ){
    body {
        margin: 0;
        padding: 0;
        font-style: 0;
        font: var(--cor--fonte);
        background-color: var(--cor-background);
    }

    .form {
        display: flex;
        align-items: flex-start;
        padding: 10px;
        width: 360px;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 80px;
        width: 100%;
    }

    .row input, button, select {
        border-radius: 5px;
        width: 140px;
        height: 30px;
        bottom: 20px;
        text-align: center;
    }

    .table-cards {
        display: flex;
        flex-direction: column;
        width: 360px;
        margin-left: 10px;
    }

    .card {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
    }

    .card img {
        width: 100px;
        height: 100px;
    }
    .card h3 {
        font-size: 14px;
        text-decoration: underline;
        margin-bottom: 10px;
    }

    .card h3, p {
        margin: 0;
        padding: 0;
    }

    .card a {
        text-decoration: none;
        color:inherit;
        margin-top: 10px;
        background-color: var(--cor--link);
    }
}

body {
    margin: 0;
    padding: 0;
    font-style: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: var(--cor--fonte);
    background-color: var(--cor-background);

}

.form {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 720px;
    height: 60px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.table-cards {
    display: flex;
    flex-flow: wrap;
    width: 740px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 200px;
    padding: 10px;
    background-color: var(--cor--fundo--card);
    border-radius: 5px;
}

.card img{
    width: 200px;
}